<div id="results">

<ul>
  <h3><%=@survey.title%></h3>
  <% @survey.questions.each do |question| %>
    <% total_responses = question.responses.length %>
    <li> <h4><%= question.question_text %></h4> 
      <% question.choices.each do |choice| %>
        <%= choice.choice_text + ": " + choice.responses.length.to_s %><br>
      <% end %>
    </li>
  <% end %>
<br><br>
  <%= "Number of submissions: " + @survey.completions.length.to_s %>
</ul>
  

  
</div>